/* Menu bar */
/*=======================================================
		16. myapp Menu bar
===========================================================================*/
.main {
  /*background: #EEE;*/
  position: relative;
  width: 89%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}
.main-center {
  /*background: #EEE;*/
  position: relative;
  width: 87%;
  margin-left: auto;
  margin-right: auto;
}
.headline {
  text-align: left;

}
h1.headline {
  font-size: 48px;
  padding-left: 15px;
  padding-right: 15px;
}
p.headline {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 24px;
  margin-bottom: 50px;
}

.grida, .main-title {
  font-family: Texta, Avenir Next, sans-serif;
  color: #333;
}
.grida {
  /*background: #EEE;*/
  position: relative;
  width: 100%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
/* clearfix */
/*.grida:after {
    content: '';
    display: block;
    clear: both;
}*/
.main-title {
  display: block;
  margin-top: 0;
  background-color: #fff;
  color: #fff;
  margin-bottom: 48px;
}
.banner-1{
  position: relative;
}
.banner-1-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.banner-1-txt{
  position: relative;
}
.banner-2-img{
  display: block;
  height: 100%;
  position: relative;
}
.banner-2-img__{
  font-family: object-fit\:cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.banner-2-txt-main{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.banner-2-txt-main h1{
  font-family:  'Coiny', cursive;/*Texta, Avenir Next, sans-serif;*/
  color: #020202;
  font-size: 5.5rem;
}
.banner-2-txt-main img{
  color: #020202;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
.banner-3-txt-main{
  margin-left: auto;
  margin-right: auto;
}
.banner-2-txt-footer{
  font-size: 13px;
  padding-top: calc(4px * 4);
  padding-bottom: calc(4px * 4);
}
.banner-3-txt-footer{
  margin-top: calc((4px * 2) * -1);
  margin-left: calc((4px * 2) * -1);
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.banner-4-txt-footer{
  padding-top: calc(4px * 2);
  padding-left: calc(4px * 2);
}
.grid-sizer, .grid-item {
  width: 47%;
}

.grid-gutter-sizer {
  width: 5%;
}

.grid-item {
  float: left;
  /*border: 2px solid hsla(0, 0%, 0%, 0.5);*/
  margin-right: 5%;
  margin-bottom: 4%;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.grid-item--width2 { width: 160px; }
.grid-item--height2 { height: 140px; }

.container {
  margin-left: 0;
  margin-right: 0;
}

.content {
  /*display: block;*/
  background: transparent;/*#c04b4b;*/
  /*background: -webkit-linear-gradient(to right, #c24e4e, #ef7b78);
  background: linear-gradient(to right, #c24e4e, #ef7b78);*/
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  color: black;
  position: relative;
}

.content-img {
  position: relative;
  display: block;
  width: 100%;
  height: 300px;
  /*width: 450px;*/
  padding: 0;
  margin-top: 0;
  /*margin-right: 0;*/
  margin-bottom: 0;
  /*margin-left: 0;*/
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.content-text {
  width: 100%;
  height:200px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  /*padding-left: 10px;*/
}
.content-text p{
  font-family: Texta, Avenir Next, sans-serif;
}
.content-title {
  margin-top: 0;
  /*margin-right:0;*/
  margin-bottom:0;
  /*margin-left:0;*/

  font-size: 24px;
  font-style: italic;
}
.content-title:hover {
  color: #1ebaa5;
}
.content-description {
  margin-top: 0;
  /*margin-right:0;*/
  margin-bottom:0;
  /*margin-left:0;*/

  font-size: 14px;
  font-style: normal;
}

.article-header {
  position: relative;
  display: block;
  color: #000;
  margin-top: 50px;
  margin-bottom: 15px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-bottom-color: #0b0b0b;
  border-bottom: 2px;
  border-top: 2px;
  border-bottom-style: solid;
  border-top-style: solid;
}

.article-header p {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 40px;
}

.article-date{
  color: #1b6d85;
  font-family: 'Cormorant Garamond', serif;
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.article-date p {
  text-align: right;
}

.article-sm{
  color: #ce6363;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 60px;
  width: 90%;
}
.article-sm a:visited{
  color: black;
  border-color: black;
}
.article-sm a:hover{
  color: #1ebaa5;
  border-color: #1ebaa5;
}
.article-sm p{
  text-align: center;
  margin-bottom: 20px;
}
.article-signup{
  color: #ce6363;
  font-family: 'Coiny', serif;
  font-size: 15px;
  border: 2px solid #ce6363;
  padding: 8px 16px;
  border-radius: 30px;
  height: 40px;
}

.article-ad{

}

.article-content {
  position: relative;
  display: block;
  color: #000;
  margin-top: 50px;
  margin-bottom: 35px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.article-content p:first-of-type::first-letter {
  font-size: 5rem;
  font-style: oblique;
  /*display: inline-block;
  float: left;
  padding:0;
  margin:0;*/
}
.article-content p {
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
  line-height: 1.4;
}
.article-content p.note {
  padding-left: 30px;
  color: #1b6d85;
}
.article-content h1 {
  margin-top:30px;
  padding-top:20px;
  font-family:  'Coiny', cursive;/*Texta, Avenir Next, sans-serif;*/
  color: #ce6363;
  font-size: 5rem;
}
.article-content li {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1em;
  /*font-style: italic;*/
  margin-left: 50px;
  list-style-type: square;
}

/* RESPONSIVE */
/* extra small devices */
@media (max-width:575px) {
  .article-header p {
    font-size: 10px;
  }
  .content-text {
    height: 100px;
  }
  .content-title {
    /*font-size: 0.8rem;*/
  }
  .content-img {
    height: 200px;
  }
  .content-description {
    visibility: hidden;
    display: none;
  }

  .banner-2-txt-main {
    padding-top: 105px;
    padding-bottom: 45px;
  }
  .banner-2-txt-main img{
    width: 70px;
    height: 70px;
  }
}
/* small devices (landscape phones) */
@media (min-width:576px) and (max-width:767px) {
  .article-header p {
    font-size: 17px;
  }
  .content-text {
    height: 100px;
  }
  .content-title {
    /*font-size: 1rem;*/
  }
  .content-img {
    height: 330px;
  }
  .content-description {
    visibility: hidden;
    display: none;
  }

  .banner-2-txt-main {
    padding-top: 105px;/*75px;*/
    padding-bottom: 65px;/*85px;*/
  }
  .banner-2-txt-main img{
    width: 110px;
    height: 110px;
  }
}
/* medium devices (tablets) */
@media (min-width:768px) and (max-width: 991px){
  .article-header p {
    font-size: 22px;
  }
  .content-text {
    height: 100px;
  }
  .content-title {
    /*font-size: 1.3rem;*/
  }
  .content-img {
    height: 420px;
  }
  .content-description {
    visibility: hidden;
    display: none;
  }

  .footer_menu .menu_footer_item a {
    font-size: 12px;
    padding: 8px 14px;

  }

  .banner-2-txt-main {
    max-width: 1320px;
    padding-top: 135px;
    padding-bottom: 50px;
  }
  .banner-2-txt-main img{
    width: 150px;
    height: 150px;
  }
  .banner-3-txt-main {
    width: 66.66667%;
  }
}
/* large devices (desktops) */
@media (min-width:992px) and (max-width: 1199px) {
  .article-header p {
    font-size: 30px;
  }
  .content-title {
    /*font-size: 1.7rem;*/
  }
  .content-img {
    height: 300px;
  }
  .banner-2-txt-footer {
    padding-left: calc(4px * 3);
    padding-right: calc(4px * 3);
  }

  .banner-2-txt-main {
    max-width: 1320px;
    padding-top: 115px;
    padding-bottom: 65px;
  }
  .banner-2-txt-main img{
    width: 180px;
    height: 180px;
  }
}
/* extra large devices (landscape phones) */
@media (min-width:1200px) {
  .article-header p {
    font-size: 40px;
  }
  .content-title {
    /*font-size: 2rem;*/
  }
  .content-img {
    height: 400px;
  }
  .banner-2-txt-main {
    max-width: 1320px;
    padding-top: 125px;
    padding-bottom: 45px;
  }
  .banner-2-txt-main img{
    width: 200px;
    height: 200px;
  }
}

/***** SCROLLBAR UI *****/

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
/*::-webkit-scrollbar:horizontal {
    width: 7px;
}*/
/*::-webkit-scrollbar:horizontal {
    width: 7px;
}
::-webkit-scrollbar:vertical {
    width: 7px;
}*/

/* Track */
::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;*/
  border: 0;
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: rgba(2, 2, 2, 0.8);
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}
::-webkit-scrollbar-thumb:window-inactive {
  background-color: rgba(2, 2, 2, 0.8);
}